<div class="colorful gray">
  <div class="content">
    <h1>Users
      <span class="assist"><%= link_to 'New user', new_user_path, :class => 'btn primary' %></span>
        <span id="user-search-button-span">
         <input type="button" value="Search users" id="find-user-button" class="btn primary"/>
        </span>
    </h1>

    <div id="user-search-div">

      <%= form_tag("/users/show", :method => "get") do %>
          <span class="c" style="font-size:18px;">Search users: </span>
          <%= text_field_tag(:user_search_field, '', {:id => "users-search-field"}) %>
          <span class="c">Category</span>
          <%= select_tag :search_options, options_for_select((["username", "email", "role"]).collect { |s| [s.capitalize, s] }) %>
          <%= submit_tag "Find", :name => nil, :class => 'btn success' %>
      <% end %>

    </div>

    <% if @users.count > 0 %>
        <table class="nice" cellspacing="0" cellpadding="5px">
          <tr>
            <th></th>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Last log in</th>
          </tr>

          <% @users.each do |user| %>
              <tr>
                <td>
                  <%= (link_to '', edit_user_path(user), :class => 'edit') unless is_super(user.role) %>
                  <%= (link_to '', user, :class => 'delete', :confirm => "Are you sure you want to delete this user?", :method => :delete) unless is_super(user.role) %>
                </td>
                <td><%= user.username %></td>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= is_admin(user.role) ? "Administrator" : "Alumni" %></td>
                <td><%= format_date_difference(user.last_logged) %> </td>
              </tr>
          <% end %>
          <% if @users.count > 8 %>
              <tr>
                <td colspan="12">
                  <p class="to-top">&raquo;&nbsp;<a href="#top">Top</a>&nbsp;&laquo;</p>
                </td>
              </tr>
          <% end %>
        </table>
    <% else %>

        <h2 style="color:#104D71">Only the current user's record is found in the database</h2>

    <% end %>
  </div>
</div>
